In [1]:
import pandas as pd # external library
import datetime as dt # internal library

# Review of Python's datetime Module
# dt.date() and dt.datetime()

In [2]:
someday = dt.date(year=2020, month=12, day=10)
someday

datetime.date(2020, 12, 10)

In [3]:
type(someday)

datetime.date

In [4]:
str(someday)

'2020-12-10'

In [5]:
someday.year

2020

In [6]:
someday.month

12

In [7]:
someday.day

10

In [8]:
# 24h time military time
somedate = dt.datetime(2020, 12, 10, 23, 59, 59, 59)
somedate

datetime.datetime(2020, 12, 10, 23, 59, 59, 59)

In [9]:
type(somedate)

datetime.datetime

In [10]:
str(somedate)

'2020-12-10 23:59:59.000059'

In [11]:
somedate.year

2020

In [12]:
somedate.month

12

In [13]:
somedate.day

10

In [14]:
somedate.hour

23

In [15]:
somedate.minute

59

In [16]:
somedate.second

59

# The pandas Timestamp object

In [17]:
# string to Python Timestamp object
pd.Timestamp(ts_input="2020-12-31 23:59:59")

Timestamp('2020-12-31 23:59:59')

In [18]:
pd.Timestamp(ts_input="2020/12/31")

Timestamp('2020-12-31 00:00:00')

In [19]:
pd.Timestamp(ts_input="12/31/2020")

Timestamp('2020-12-31 00:00:00')

In [20]:
pd.Timestamp(ts_input="2020, 12, 31")

Timestamp('2020-12-31 00:00:00')

In [21]:
pd.Timestamp(ts_input="2020-12-31 11:59:59 PM")

Timestamp('2020-12-31 23:59:59')

In [22]:
# dt.date to Python Timestamp object
pd.Timestamp(ts_input=dt.date(2020, 12, 31))

Timestamp('2020-12-31 00:00:00')

In [23]:
# dt.datetime to Python Timestamp object
pd.Timestamp(ts_input=dt.datetime(2020, 12, 31, 23, 59, 59))

Timestamp('2020-12-31 23:59:59')

# The pandas DateTimeIndex object

In [24]:
# to contain datetime64 values
dates = ["2016-01-02", "04/12/2016", "2009/09/07"]
pd.DatetimeIndex(data=dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [25]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(data=dates)
dtIndex

DatetimeIndex(['2016-01-10', '1994-06-13', '2003-12-29'], dtype='datetime64[ns]', freq=None)

In [26]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

# The pd.to_datetime() Method

In [ ]:
# data = []

In [27]:
# string to Python Timestamp object
pd.to_datetime(arg="2020-12-25")

Timestamp('2020-12-25 00:00:00')

In [28]:
# dt.date to Pyton Timestamp object
pd.to_datetime(arg=dt.date(2020, 12, 25))

Timestamp('2020-12-25 00:00:00')

In [29]:
# dt.datetime to Python Timestamp object
pd.to_datetime(arg=dt.datetime(2020, 12, 25, 23, 59, 59))

Timestamp('2020-12-25 23:59:59')

In [30]:
# Python Timestamp to Python Timestamp object
pd.to_datetime(arg=pd.Timestamp(ts_input="2020-12-25 23:59"))

Timestamp('2020-12-25 23:59:00')

In [31]:
pd.to_datetime(arg=pd.DatetimeIndex(data=["2020-12-25", "2020-12-26"]))

DatetimeIndex(['2020-12-25', '2020-12-26'], dtype='datetime64[ns]', freq=None)

# Python Pandas is so smart and versatile

In [32]:
pd.to_datetime(arg=["2020-12-25", "2020/12/25", "12/25/2020", "2020", "Dec 25th 2020", 
                   "December 25 20"])

DatetimeIndex(['2020-12-25', '2020-12-25', '2020-12-25', '2020-01-01',
               '2020-12-25', '2020-12-25'],
              dtype='datetime64[ns]', freq=None)

In [33]:
times = pd.Series(data=["2020-12-25", "2020/12/25", "12/25/2020", "2020", "Dec 25th 2020", 
                        "December 25 20"])
times
# it is an object string

0        2020-12-25
1        2020/12/25
2        12/25/2020
3              2020
4     Dec 25th 2020
5    December 25 20
dtype: object

In [34]:
pd.to_datetime(arg=times)

0   2020-12-25
1   2020-12-25
2   2020-12-25
3   2020-01-01
4   2020-12-25
5   2020-12-25
dtype: datetime64[ns]

In [35]:
dates = pd.Series(data=["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [36]:
# get an error since "Hello" and "2015-02-31" exist
pd.to_datetime(arg=dates)

ParserError: Unknown string format: Hello

In [37]:
# NaT -> Not a Timestamp
pd.to_datetime(arg=dates, errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [38]:
# Unix Times
# unix时间戳是从1970年1月1日（UTC/GMT的午夜）开始所经过的秒数
pd.to_datetime(arg=[1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit="s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.date_range() Method, Part 1

In [39]:
times = pd.date_range(start="2020-01-01", end="2020-12-31", freq="D")
times

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=366, freq='D')

In [40]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [41]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [42]:
# 2 Days
pd.date_range(start="2020-01-01", end="2020-12-31", freq="2D")

DatetimeIndex(['2020-01-01', '2020-01-03', '2020-01-05', '2020-01-07',
               '2020-01-09', '2020-01-11', '2020-01-13', '2020-01-15',
               '2020-01-17', '2020-01-19',
               ...
               '2020-12-12', '2020-12-14', '2020-12-16', '2020-12-18',
               '2020-12-20', '2020-12-22', '2020-12-24', '2020-12-26',
               '2020-12-28', '2020-12-30'],
              dtype='datetime64[ns]', length=183, freq='2D')

In [43]:
# Business Day
pd.date_range(start="2020-01-01", end="2020-12-31", freq="B")

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14',
               ...
               '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23',
               '2020-12-24', '2020-12-25', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=262, freq='B')

In [44]:
# Week 
# 2020-01-05 starts on Sunday
pd.date_range(start="2020-01-01", end="2020-12-31", freq="W")

DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26',
               '2020-02-02', '2020-02-09', '2020-02-16', '2020-02-23',
               '2020-03-01', '2020-03-08', '2020-03-15', '2020-03-22',
               '2020-03-29', '2020-04-05', '2020-04-12', '2020-04-19',
               '2020-04-26', '2020-05-03', '2020-05-10', '2020-05-17',
               '2020-05-24', '2020-05-31', '2020-06-07', '2020-06-14',
               '2020-06-21', '2020-06-28', '2020-07-05', '2020-07-12',
               '2020-07-19', '2020-07-26', '2020-08-02', '2020-08-09',
               '2020-08-16', '2020-08-23', '2020-08-30', '2020-09-06',
               '2020-09-13', '2020-09-20', '2020-09-27', '2020-10-04',
               '2020-10-11', '2020-10-18', '2020-10-25', '2020-11-01',
               '2020-11-08', '2020-11-15', '2020-11-22', '2020-11-29',
               '2020-12-06', '2020-12-13', '2020-12-20', '2020-12-27'],
              dtype='datetime64[ns]', freq='W-SUN')

In [45]:
# Week 
# 2020-01-03 starts on Friday
pd.date_range(start="2020-01-01", end="2020-12-31", freq="W-Fri")

DatetimeIndex(['2020-01-03', '2020-01-10', '2020-01-17', '2020-01-24',
               '2020-01-31', '2020-02-07', '2020-02-14', '2020-02-21',
               '2020-02-28', '2020-03-06', '2020-03-13', '2020-03-20',
               '2020-03-27', '2020-04-03', '2020-04-10', '2020-04-17',
               '2020-04-24', '2020-05-01', '2020-05-08', '2020-05-15',
               '2020-05-22', '2020-05-29', '2020-06-05', '2020-06-12',
               '2020-06-19', '2020-06-26', '2020-07-03', '2020-07-10',
               '2020-07-17', '2020-07-24', '2020-07-31', '2020-08-07',
               '2020-08-14', '2020-08-21', '2020-08-28', '2020-09-04',
               '2020-09-11', '2020-09-18', '2020-09-25', '2020-10-02',
               '2020-10-09', '2020-10-16', '2020-10-23', '2020-10-30',
               '2020-11-06', '2020-11-13', '2020-11-20', '2020-11-27',
               '2020-12-04', '2020-12-11', '2020-12-18', '2020-12-25'],
              dtype='datetime64[ns]', freq='W-FRI')

In [46]:
# Hour
pd.date_range(start="2020-01-01", end="2020-12-31", freq="7H")

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 07:00:00',
               '2020-01-01 14:00:00', '2020-01-01 21:00:00',
               '2020-01-02 04:00:00', '2020-01-02 11:00:00',
               '2020-01-02 18:00:00', '2020-01-03 01:00:00',
               '2020-01-03 08:00:00', '2020-01-03 15:00:00',
               ...
               '2020-12-28 06:00:00', '2020-12-28 13:00:00',
               '2020-12-28 20:00:00', '2020-12-29 03:00:00',
               '2020-12-29 10:00:00', '2020-12-29 17:00:00',
               '2020-12-30 00:00:00', '2020-12-30 07:00:00',
               '2020-12-30 14:00:00', '2020-12-30 21:00:00'],
              dtype='datetime64[ns]', length=1252, freq='7H')

In [48]:
# Month
pd.date_range(start="2020-01-01", end="2020-12-31", freq="M")

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

In [51]:
# Year
pd.date_range(start="2020-01-01", end="2220-12-31", freq="Y")

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31',
               ...
               '2211-12-31', '2212-12-31', '2213-12-31', '2214-12-31',
               '2215-12-31', '2216-12-31', '2217-12-31', '2218-12-31',
               '2219-12-31', '2220-12-31'],
              dtype='datetime64[ns]', length=201, freq='A-DEC')

# Create Range of Dates with the pd.date_range() Method, Part 2

In [55]:
# starts on 2012-09-09 for 50 days
pd.date_range(start="2012-09-09", periods=50, freq="D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03', '2012-10-04', '2012-10-05', '2012-10-06',
               '2012-10-07', '2012-10-08', '2012-10-09', '2012-10-10',
               '2012-10-11', '2012-10-12', '2012-10-13', '2012-10-14',
               '2012-10-15', '2012-10-16', '2012-10-17', '2012-10-18',
               '2012-10-19', '2012-10-20', '2012-10-21', '2012-10-22',
               '2012-10-23', '2012-10-24', '2012-10-25', '2012-10-26',
               '2012-10-27', '2012-10-28'],
              dtype='datetime64[ns]', freq='D')

In [57]:
# starts on 2012-09-09 for 50 business days
pd.date_range(start="2012-09-09", periods=50, freq="B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [61]:
# starts on 2012-09-09 for 50 weeks starting on Sunday
pd.date_range(start="2012-09-09", periods=50, freq="W")

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24', '2013-03-03', '2013-03-10', '2013-03-17',
               '2013-03-24', '2013-03-31', '2013-04-07', '2013-04-14',
               '2013-04-21', '2013-04-28', '2013-05-05', '2013-05-12',
               '2013-05-19', '2013-05-26', '2013-06-02', '2013-06-09',
               '2013-06-16', '2013-06-23', '2013-06-30', '2013-07-07',
               '2013-07-14', '2013-07-21', '2013-07-28', '2013-08-04',
               '2013-08-11', '2013-08-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [63]:
# 50 hours
pd.date_range(start="2012-09-09", periods=50, freq="H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00', '2012-09-10 01:00:00',
               '2012-09-10 02:00:00', '2012-09-10 03:00:00',
               '2012-09-10 04:00:00', '2012-09-10 05:00:00',
               '2012-09-10 06:00:00', '2012-09-10 07:00:00',
               '2012-09-10 08:00:00', '2012-09-10 09:00:00',
               '2012-09-10 10:00:00', '2012-09-10 11:00:00',
               '2012-09-10 12:00:00', '2012-09-10 13:00:00',
               '2012-09-10 14:00:00', '2012-09-10 15:00:00',
               '2012-09-10 16:00:00', '2012-09-10 17:00:00',
               '2012-09-10 18:00:00', '2012-09-10 19:00:00',
               '2012-09-10 20:00:00', '2012-09-10 21:00:00',
               '2012-09-10 22:00:00', '2012-09-10 23:00:00',
               '2012-09-11 00:00:00', '2012-09-11 01:00:00'],
              dtype='datetime64[ns]', freq='H')

# Create Range of Dates with the pd.date_range() Method, Part 3

In [78]:
# 50 weeks starting on Wednesday
pd.date_range(end="1999-12-31", periods=50, freq="W-Wed")

DatetimeIndex(['1999-01-20', '1999-01-27', '1999-02-03', '1999-02-10',
               '1999-02-17', '1999-02-24', '1999-03-03', '1999-03-10',
               '1999-03-17', '1999-03-24', '1999-03-31', '1999-04-07',
               '1999-04-14', '1999-04-21', '1999-04-28', '1999-05-05',
               '1999-05-12', '1999-05-19', '1999-05-26', '1999-06-02',
               '1999-06-09', '1999-06-16', '1999-06-23', '1999-06-30',
               '1999-07-07', '1999-07-14', '1999-07-21', '1999-07-28',
               '1999-08-04', '1999-08-11', '1999-08-18', '1999-08-25',
               '1999-09-01', '1999-09-08', '1999-09-15', '1999-09-22',
               '1999-09-29', '1999-10-06', '1999-10-13', '1999-10-20',
               '1999-10-27', '1999-11-03', '1999-11-10', '1999-11-17',
               '1999-11-24', '1999-12-01', '1999-12-08', '1999-12-15',
               '1999-12-22', '1999-12-29'],
              dtype='datetime64[ns]', freq='W-WED')

In [83]:
# 50 month starting on 1st
pd.date_range(end="1999-12-31", periods=50, freq="MS")

DatetimeIndex(['1995-11-01', '1995-12-01', '1996-01-01', '1996-02-01',
               '1996-03-01', '1996-04-01', '1996-05-01', '1996-06-01',
               '1996-07-01', '1996-08-01', '1996-09-01', '1996-10-01',
               '1996-11-01', '1996-12-01', '1997-01-01', '1997-02-01',
               '1997-03-01', '1997-04-01', '1997-05-01', '1997-06-01',
               '1997-07-01', '1997-08-01', '1997-09-01', '1997-10-01',
               '1997-11-01', '1997-12-01', '1998-01-01', '1998-02-01',
               '1998-03-01', '1998-04-01', '1998-05-01', '1998-06-01',
               '1998-07-01', '1998-08-01', '1998-09-01', '1998-10-01',
               '1998-11-01', '1998-12-01', '1999-01-01', '1999-02-01',
               '1999-03-01', '1999-04-01', '1999-05-01', '1999-06-01',
               '1999-07-01', '1999-08-01', '1999-09-01', '1999-10-01',
               '1999-11-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

# The .dt Accessor

In [95]:
# Similar to .str as suffix

In [96]:
# fre = 24D as 24 days
dates = pd.date_range(start="2000-01-01", end="2010-12-31", freq="24D")
dates

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [97]:
s = pd.Series(data=dates)
s

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [98]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [101]:
s.dt.weekday

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [104]:
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [105]:
# check whether it is first date of the quarter
s.dt.is_quarter_start

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [106]:
s.dt.is_month_start

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [107]:
s.dt.is_leap_year

0       True
1       True
2       True
3       True
4       True
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

# Import Financial Dataset with pandas_datereader Library

In [3]:
# get a real data from the stock market
from pandas_datareader import data

In [53]:
# Company is Microsoft and source is from yahoo
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,24.105360
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,24.113148
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,23.965164
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,23.715933
2010-01-08,30.879999,30.240000,30.280001,30.660000,51197400.0,23.879499
...,...,...,...,...,...,...
2020-12-10,213.080002,210.360001,211.770004,210.520004,26733300.0,210.520004
2020-12-11,213.320007,209.110001,210.050003,213.259995,30979400.0,213.259995
2020-12-14,216.210007,212.880005,213.100006,214.199997,28798400.0,214.199997
2020-12-15,215.419998,212.240005,215.169998,214.130005,27018100.0,214.130005
2020-12-16,220.110001,214.720001,214.750000,219.279999,35003800.0,219.279999

In [120]:
stocks.values

array([[3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.41053600e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.41131477e+01],
       [3.10799999e+01, 3.05200005e+01, 3.08799992e+01, 3.07700005e+01,
        5.81824000e+07, 2.39651642e+01],
       ...,
       [2.16949997e+02, 2.12889999e+02, 2.13970001e+02, 2.16009995e+02,
        2.32841000e+07, 2.16009995e+02],
       [2.15229996e+02, 2.11210007e+02, 2.15160004e+02, 2.11800003e+02,
        3.24158000e+07, 2.11800003e+02],
       [2.13070007e+02, 2.10360001e+02, 2.11770004e+02, 2.10520004e+02,
        2.48580820e+07, 2.10520004e+02]])

In [121]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [122]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-11-27', '2020-11-30', '2020-12-01', '2020-12-02',
               '2020-12-03', '2020-12-04', '2020-12-07', '2020-12-08',
               '2020-12-09', '2020-12-10'],
              dtype='datetime64[ns]', name='Date', length=2755, freq=None)

In [123]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2020-11-27', '2020-11-30', '2020-12-01', '2020-12-02',
                '2020-12-03', '2020-12-04', '2020-12-07', '2020-12-08',
                '2020-12-09', '2020-12-10'],
               dtype='datetime64[ns]', name='Date', length=2755, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# Selecting Rows from a DataFrame with a DatetimeIndex

In [4]:
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.113148
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.965164
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.715933
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.879499

In [5]:
stocks.loc["2020-12-10", :]

High         2.130800e+02
Low          2.103600e+02
Open         2.117700e+02
Close        2.105200e+02
Volume       2.673330e+07
Adj Close    2.105200e+02
Name: 2020-12-10 00:00:00, dtype: float64

In [9]:
stocks.loc[["2020-12-15", "2020-12-16"],["High", "Low"]]

                  High         Low
Date
2020-12-15  215.419998  212.240005
2020-12-16  220.110001  214.720001

In [10]:
stocks.loc[pd.Timestamp(ts_input="2020-12-15")]

High         2.154200e+02
Low          2.122400e+02
Open         2.151700e+02
Close        2.141300e+02
Volume       2.701810e+07
Adj Close    2.141300e+02
Name: 2020-12-15 00:00:00, dtype: float64

In [11]:
stocks.loc[pd.DatetimeIndex(data=["2020-12-15", "2020-12-16"])]

,High,Low,Open,Close,Volume,Adj Close
2020-12-15,215.419998,212.240005,215.169998,214.130005,27018100.0,214.130005
2020-12-16,220.110001,214.720001,214.750000,219.279999,35003800.0,219.279999

In [19]:
stocks.iloc[-10:-1:3]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-03,216.380005,213.649994,214.610001,214.240005,25120900.0,214.240005
2020-12-08,216.949997,212.889999,213.970001,216.009995,23284100.0,216.009995
2020-12-11,213.320007,209.110001,210.050003,213.259995,30979400.0,213.259995

In [23]:
stocks.loc[["2020-12-15", "2020-12-16"]]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-15,215.419998,212.240005,215.169998,214.130005,27018100.0,214.130005
2020-12-16,220.110001,214.720001,214.750000,219.279999,35003800.0,219.279999

In [24]:
stocks.loc[[pd.Timestamp("2020-12-15"), pd.Timestamp("2020-12-16")]]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-15,215.419998,212.240005,215.169998,214.130005,27018100.0,214.130005
2020-12-16,220.110001,214.720001,214.750000,219.279999,35003800.0,219.279999

In [27]:
stocks.loc[pd.DatetimeIndex(data=["2020-12-15", "2020-12-16"])]

,High,Low,Open,Close,Volume,Adj Close
2020-12-15,215.419998,212.240005,215.169998,214.130005,27018100.0,214.130005
2020-12-16,220.110001,214.720001,214.750000,219.279999,35003800.0,219.279999

In [37]:
stocks.loc["2020-12-10":"2020-12-12"]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-10,213.080002,210.360001,211.770004,210.520004,26733300.0,210.520004
2020-12-11,213.320007,209.110001,210.050003,213.259995,30979400.0,213.259995

In [36]:
# truncate the dataframe
stocks.truncate(before="2020-12-10", after="2020-12-12")

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-10,213.080002,210.360001,211.770004,210.520004,26733300.0,210.520004
2020-12-11,213.320007,209.110001,210.050003,213.259995,30979400.0,213.259995

In [54]:
birthday = pd.date_range(start="1991-04-12", end="2020-12-31", freq=pd.DateOffset(years=1))

In [55]:
birthday_stocks = stocks.index.isin(birthday)

In [56]:
stocks[birthday_stocks]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-04-12,30.490000,30.209999,30.250000,30.320000,37068800.0,23.725113
2011-04-12,25.850000,25.549999,25.830000,25.639999,36920400.0,20.506081
2012-04-12,31.040001,30.420000,30.480000,30.980000,38304000.0,25.452108
2013-04-12,29.020000,28.660000,28.850000,28.790001,62886300.0,24.362782
2016-04-12,54.779999,53.759998,54.369999,54.650002,24944300.0,50.227928
2017-04-12,65.510002,65.110001,65.419998,65.230003,17108500.0,61.528580
2018-04-12,94.160004,92.430000,92.430000,93.580002,26758900.0,90.118393
2019-04-12,120.980003,120.370003,120.639999,120.949997,19745100.0,118.441963

In [57]:
stocks.loc[birthday_stocks]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-04-12,30.490000,30.209999,30.250000,30.320000,37068800.0,23.725113
2011-04-12,25.850000,25.549999,25.830000,25.639999,36920400.0,20.506081
2012-04-12,31.040001,30.420000,30.480000,30.980000,38304000.0,25.452108
2013-04-12,29.020000,28.660000,28.850000,28.790001,62886300.0,24.362782
2016-04-12,54.779999,53.759998,54.369999,54.650002,24944300.0,50.227928
2017-04-12,65.510002,65.110001,65.419998,65.230003,17108500.0,61.528580
2018-04-12,94.160004,92.430000,92.430000,93.580002,26758900.0,90.118393
2019-04-12,120.980003,120.370003,120.639999,120.949997,19745100.0,118.441963

# Timestamp Object Attributes and Methods

In [4]:
from pandas_datareader import data

In [5]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.113148
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.965164
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.715933
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.879499

In [6]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-04', '2020-12-07', '2020-12-08', '2020-12-09',
               '2020-12-10', '2020-12-11', '2020-12-14', '2020-12-15',
               '2020-12-16', '2020-12-17'],
              dtype='datetime64[ns]', name='Date', length=2760, freq=None)

In [10]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [11]:
someday.month

12

In [12]:
someday.is_quarter_start

False

In [14]:
someday.is_month_end

False

In [ ]:
# The reason why month_name() is a method since it require some calculations instead of using 
# some datepart() to get number from the date

In [15]:
someday.month_name()

'December'

In [17]:
someday.day_name()

'Tuesday'

In [21]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2760)

In [22]:
stocks.insert(loc=0, column="Day Of Week", value=stocks.index.day_name())

In [23]:
stocks

,Day Of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.105360
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.113148
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.965164
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.715933
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.879499
...,...,...,...,...,...,...,...
2020-12-11,Friday,213.320007,209.110001,210.050003,213.259995,30979400.0,213.259995
2020-12-14,Monday,216.210007,212.880005,213.100006,214.199997,28798400.0,214.199997
2020-12-15,Tuesday,215.419998,212.240005,215.169998,214.130005,27018100.0,214.130005
2020-12-16,Wednesday,220.110001,214.720001,214.750000,219.279999,35003800.0,219.279999
2020-12-17,Thursday,220.889999,218.070007,219.869995,218.419998,11054893.0,218.419998

# The pd.DateOffset Object

In [5]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.113148
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.965164
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.715933
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.879499

In [29]:
stocks.index + 5

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [27]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2020-12-09', '2020-12-12', '2020-12-13', '2020-12-14',
               '2020-12-15', '2020-12-16', '2020-12-19', '2020-12-20',
               '2020-12-21', '2020-12-22'],
              dtype='datetime64[ns]', name='Date', length=2760, freq=None)

In [39]:
stocks.index = stocks.index - pd.DateOffset(years=1, month=5, days=15, hours=5)

/opt/anaconda3/envs/pandas_playground/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:692: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  warnings.warn(

In [38]:
stocks

,Day Of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2007-05-26 14:00:00,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.105360
2007-05-27 14:00:00,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.113148
2007-05-28 14:00:00,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.965164
2007-05-29 14:00:00,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.715933
2007-05-30 14:00:00,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.879499
...,...,...,...,...,...,...,...
2018-06-01 14:00:00,Friday,213.320007,209.110001,210.050003,213.259995,30979400.0,213.259995
2018-06-04 14:00:00,Monday,216.210007,212.880005,213.100006,214.199997,28798400.0,214.199997
2018-06-05 14:00:00,Tuesday,215.419998,212.240005,215.169998,214.130005,27018100.0,214.130005
2018-06-06 14:00:00,Wednesday,220.110001,214.720001,214.750000,219.279999,35003800.0,219.279999
2018-06-07 14:00:00,Thursday,220.889999,218.070007,219.869995,218.419998,11054893.0,218.419998

# Timeseries Offsets

In [5]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.113148
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.965164
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.715933
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.879499

In [ ]:
# timeseries -> tseries

In [46]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2006-05-31 09:00:00', '2006-05-31 09:00:00',
               '2006-05-31 09:00:00', '2006-05-31 09:00:00',
               '2006-05-31 09:00:00', '2006-04-30 09:00:00',
               '2006-04-30 09:00:00', '2006-04-30 09:00:00',
               '2006-04-30 09:00:00', '2006-04-30 09:00:00',
               ...
               '2017-05-31 09:00:00', '2017-05-31 09:00:00',
               '2017-05-31 09:00:00', '2017-05-31 09:00:00',
               '2017-05-31 09:00:00', '2017-04-30 09:00:00',
               '2017-04-30 09:00:00', '2017-04-30 09:00:00',
               '2017-04-30 09:00:00', '2017-04-30 09:00:00'],
              dtype='datetime64[ns]', name='Date', length=2760, freq=None)