# operator

In [1]:
# Solve really complex mathematicalexpression using Python 
2 + 2 
# 3 + 3

4

In [2]:
5
10
-23
0

0

In [3]:
3.14
9.99
-113.23819

-113.23819

In [4]:
"Python crash course"
'Sarcramento'

'Sarcramento'

In [5]:
"139.99A@#$%"

'139.99A@#$%'

In [7]:
type("139.99A@#$%")

str

In [8]:
""

''

In [9]:
type("")

str

In [10]:
True

True

In [11]:
False

False

In [12]:
5 < 7

True

In [13]:
10 > 12

False

In [14]:
None

In [15]:
type(None)

NoneType

In [16]:
5 + 3

8

In [17]:
6 ** 4

1296

In [18]:
3.14 + 7.96

11.1

In [19]:
# concatenation
"race" + "car"

'racecar'

In [20]:
10 - 5

5

In [21]:
"haha " * 4

'haha haha haha haha '

# PEMDAS
# Parentheses Exponents Multiplication Division Addition Subtraction
3 + 4 * 5
# (3 + 4) * 5

In [23]:
15 / 4

3.75

In [24]:
10 / 2

5.0

In [25]:
# floor division
10 // 3

3

In [26]:
14 // 3

4

In [27]:
# get a reminder
14 % 3

2

In [28]:
# Equality operator
1 == 1.0

True

In [31]:
"Hello" == 'hello'

False

In [32]:
"Hello" == "Hello "

False

In [33]:
True == True

True

In [34]:
False == False

True

In [35]:
# Inequality operator --> !=
# 5 <> 10 # wrong
5 != 10

True

In [36]:
5 < 8

True

In [37]:
5 <= 8

True

In [38]:
5 <= 8

True

# Variable

In [41]:
age = 29
age

29

In [42]:
age + 5

34

In [52]:
price = 19.99
first_name = "Boris"
profession = "Data Analyst"
is_handsome = True
# snake_case

In [54]:
first_name + " is awesome"

'Boris is awesome'

In [56]:
age = age + 5

In [74]:
profession = "Data Engineer" + " Data Analyst"

In [75]:
profession

'Data Engineer Data Analyst'

In [76]:
age

34

# Built-in functions

In [77]:
len(profession)

26

In [85]:
str(3.14)

'3.14'

In [88]:
int("10")

10

In [91]:
float("9.384")

9.384

In [92]:
type(profession)

str

In [95]:
type(False)

bool

In [96]:
type(None)

NoneType

In [97]:
type(10) == type(10.0)

False

In [1]:
type(10) == type("10")

False

# Custom Function

In [2]:
# Declare a function that accepts a temperature in Celsius and returns it in Fahrenheit

def  convert_to_fahrenheit(celsius_temp = 0):
    product = celsius_temp * 1.8
    product += 32
    return product

In [3]:
convert_to_fahrenheit(30)

86.0

In [4]:
len(str(convert_to_fahrenheit(30)))

4

In [5]:
convert_to_fahrenheit(14)

57.2

In [6]:
convert_to_fahrenheit(celsius_temp = 24)

75.2

In [7]:
convert_to_fahrenheit()

32.0

In [3]:
profession = "Developer"

In [14]:
profession.upper()
profession.lower()

'developer'

In [13]:
"DEVELOPER".casefold()

'developer'

In [15]:
profession.swapcase()

'dEVELOPER'

# string is immutable - incapable of change
# list is mutable - capable

In [4]:
profession

'Developer'

In [5]:
profession[0]

'D'

In [6]:
profession[0] = "d"

TypeError: 'str' object does not support item assignment

In [20]:
"once upon a time".title()

'Once Upon A Time'

In [21]:
"once upon a time".capitalize()

'Once upon a time'

In [22]:
job = "        Date Analyst        "

In [26]:
job.strip()
job.rstrip()
job.lstrip()

'Date Analyst        '

In [27]:
job.index("D")

8

In [41]:
# string chaining
job.replace("e", "a").strip()

'Data Analyst'

In [32]:
"a" in job

True

In [35]:
job.find("x")

-1

In [34]:
job.index("x")

ValueError: substring not found

In [36]:
animal = "rhinoceros"

In [37]:
animal.startswith("rhino")

True

In [38]:
# case sensitive
animal.endswith("oS")

False

In [32]:
"a" in job

True

In [42]:
"fuck" not in animal

True

In [44]:
"d1112313".isdigit()

False

# List
# Mutable data strucuture that holds an ordered collection of elements

In [7]:
party_attendess = ["Michael", "Freddy", "Jason"]

In [47]:
party_attendess

['Michael', 'Freddy', 'Jason']

In [48]:
len(party_attendess)

3

In [49]:
presidents = ["Washington", "Jefferson"]

In [50]:
presidents.append("Madison")

In [51]:
presidents

['Washington', 'Jefferson', 'Madison']

In [9]:
popcorn = ["Salted", "Unsalted", "Caramel"]

In [87]:
# popcorn.pop()
popcorn.pop(2)

'Caramel'

In [92]:
popcorn.remove("dd")

ValueError: list.remove(x): x not in list

In [75]:
popcorn.index("Surger")

ValueError: 'Surger' is not in list

In [88]:
popcorn.insert(2, "Caramel")

In [8]:
popcorn

NameError: name 'popcorn' is not defined

In [12]:
popcorn.count("Surger")

0

In [10]:
popcorn.count("Salted")

1

In [98]:
popcorn.reverse()

In [99]:
popcorn

['Caramel', 'Unsalted', 'Salted']

In [101]:
"Caramel" in popcorn

True

In [103]:
"Cat" in "caterpillar"

False

In [104]:
tmp = popcorn.copy()

In [105]:
tmp

['Caramel', 'Unsalted', 'Salted']

# List can contain everything, boolean, string, float, integer

In [108]:
lst = [popcorn, "caterpillar", 123, True, None, {"a":1, "b":2}, (8, 9, 10)]

In [109]:
lst

[['Caramel', 'Unsalted', 'Salted'],
 'caterpillar',
 123,
 True,
 None,
 {'a': 1, 'b': 2},
 (8, 9, 10)]

# Index positions and slicing

In [2]:
spiderman = "Spiderman"

In [3]:
spiderman

'Spiderman'

In [5]:
for item in spiderman:
    print(item, end="")

Spiderman

In [8]:
"Ω≈˜µåß©˙∆˚¬…æœ∑´®†¥¨ˆøπ“‘«÷√".isprintable()

True

In [10]:
spiderman[-len(spiderman)]

'S'

In [11]:
superheroes = ["Batman", "Superman", "Wolverine", "Ironman", "Arnold Schwarzenegger"]

In [12]:
len(superheroes)

5

In [14]:
for location, item in enumerate(superheroes):
    print(location, item)

0 Batman
1 Superman
2 Wolverine
3 Ironman
4 Arnold Schwarzenegger

In [16]:
# up to but not including
superheroes[1:3]

['Superman', 'Wolverine']

In [17]:
spiderman[1:3]

'pi'

In [23]:
# 500 doesn't exits
superheroes[2:500]

['Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [20]:
spiderman[3:]

'derman'

In [25]:
superheroes[:]

['Batman', 'Superman', 'Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [26]:
spiderman[3:-2]

'derm'

# Dictionaries 
# An unordered collection of key-value pairs
# IT is mutable

In [6]:
# key must be unique and value can be duplicate
meau = {
    "Filet Mignon" : 29.99,
    "Big Mac" : 3.99,
    "Pizza" : 0.99,
    "Salmon" : 29.99
}

In [5]:
meau

{'Filet Mignon': 29.99, 'Big Mac': 3.99, 'Pizza': 0.99, 'Salmon': 29.99}

In [7]:
len(meau)

4

In [9]:
meau["Filet Mignon"]

29.99

In [12]:
meau["salmon"]

KeyError: 'salmon'

In [11]:
meau.get("Tuna", 0)

0

In [8]:
for key, value in meau.items():
    print(key, value)

Filet Mignon 29.99
Big Mac 3.99
Pizza 0.99
Salmon 29.99

In [16]:
meau["Burrito"] = 13.99

In [14]:
meau["Chicken Tender"] = None

In [18]:
meau.pop("Big Mac")

3.99

In [19]:
"Big Mac" in meau

False

In [20]:
"Pizza" in meau

True

In [22]:
"Bubble Gum" not in meau

True

In [24]:
meau.keys()
meau.values()

dict_values([29.99, 0.99, 29.99, 13.99, None])

In [25]:
13.99 in meau.values()

True

In [26]:
"Hot Pockets" in meau.keys()

False

In [28]:
meau.update({"Nacho Fries" : 1.99})

In [29]:
meau

{'Filet Mignon': 29.99,
 'Pizza': 0.99,
 'Salmon': 29.99,
 'Burrito': 13.99,
 'Chicken Tender': None,
 'Nacho Fries': 1.99}

In [30]:
meau.popitem()

('Nacho Fries', 1.99)

In [31]:
laptop = ["Macbook Pro 2015", "Macbook Pro 2019", "Thinkpad T460s", "Thinkpad T490s"]

In [35]:
price = [500]

In [38]:
laptop_price = dict.fromkeys(laptop)

In [39]:
laptop_price

{'Macbook Pro 2015': None,
 'Macbook Pro 2019': None,
 'Thinkpad T460s': None,
 'Thinkpad T490s': None}